body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #302602;
    text-align: center;
    margin: 0;
}

.background {
    background-color: linen;
    padding: 12px;
    margin: 15px auto;
    border-radius: 6px;
    width: 60%;
}
img {
    width: 90%;
    max-width: 500px;
}
.style-toggle {
    background: #302602;
    color: linen;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 10px;
}

body.dark-mode {
    background-color: #1c0733;
    color: white;
}
body.dark-mode .background {
    background-color: #232323;
}
body.dark-mode .style-toggle {
    background-color: #232323;
    border: 2px solid white;
}


.faq-answer {
    display: none;
}
.faq-answer.show {
    display: block;
}
.faq-question {
    background: none;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #302602;
    font-weight: bold;
    padding: 10px;
}
body.dark-mode .faq-question {
    color: white;
}

.navbar {
    background-color: #302602;
    padding: 10px;
    text-align: center;
}
body.dark-mode .navbar {
    background-color: #232323;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar a {
    text-decoration: none;
    color: linen;
    font-weight: bold;
}
body.dark-mode .navbar a {
    color: white;
}